<div class="page">
    <div class="addpage">
        <div class="add">

            <form action="/gallery/{{image.id}}?_method=PUT" method="POST" class="add-form">
            <h1>Edit Gallery Image</h1>
                <input type="hidden" name='_method' value="PUT">
                <input type="text" name="image" value="{{image.image}}" required>
                <input type="text" placeholder="Painting Title" name="title" required value="{{image.title}}">
                <input type="text" placeholder="Painting Style" name="style" required value="{{image.style}}">
                <input type="text" placeholder="Date" name="date" required value="{{image.date}}">
                <button type="submit">Submit</button>
            </form>
        </div>

    {{> _footer}}
    </div>
</div>

