<div class="page">
  <div class="gallery"> 
    <h1>Paintings by Maxine</h1>
    {{#if user}}
    <div class="gallery-button">
        <a href="/gallery/add" class="item-link"><button>Add Images</button></a>
    </div>
    {{else}}

    {{/if}}

    {{#each images}}
<div class="imagecontainer">
    
<div class="imagecon lightbox_trigger">
            <ul class="caption">
                <li>{{title}}</li>
                <li>{{style}}</li>
                <li>{{date}}</li>
            </ul>
            <img src="{{image}}" alt="Pic" class="image">
 </div>
     {{#if user}}
    <div class="image-button">
        <a href="/gallery/edit/{{id}}" class="item-link"><button>Edit</button></a>
    </div>
      <div class="image-button">
        <a href="/gallery/delete/{{id}}" class="item-link"><button>Delete Image</button></a>
    </div>
    {{else}}
     <div class="image-button">
        <a href="/gallery/edit/:{{id}}" class="item-link"><button>Edit</button></a>
    </div>
      <div class="image-button">
        <a href="/gallery/delete/:{{id}}" class="item-link"><button>Delete Image</button></a>
</div>
</div>
    {{/if}}
{{else}}



<p>Problem Loading Gallery...</p>

{{/each}}
  

{{> _footer}}
</div>





